.link{
  margin-top: 50px;
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
.link:hover{
  opacity: 0.4;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
@media only screen and (min-width: 1151px) {
  .column {
    float: left;
    width: 50%;
  }
  a{
    font-size: 6.5vh;
  }
  .size {
    color: transparent;
  }
}
@media only screen and (max-width: 1150px) {
  .column {
    float: left;
    text-align: center;
  }
  a{
    font-size: 5vh;
  }
  .size{
    margin: 10px;
    color: transparent;
  }
}