@media only screen and (min-width: 1151px) {
    .flex-container{
        display: flex;
        font-size: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }
    .subcontainer{
        display: flex;
        font-size: 20px;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .subcontainersmall{
        display: flex;
        font-size: 20px;
        margin: 2vw;
        flex-direction: row;
        width: 30vw;
        flex-wrap: wrap;
    }
    
    .textelement{
        font-size: 21px;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        margin: 1vw;
        width: 55%;
    }
    .photoelement{
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        width: 30%;
        margin: 1vw;
    }
    .link{
        margin-top: 40px;
        transition: 0.3s;
        color: rgb(255, 255, 255);
    }
    .link:hover{
        opacity: 0.4;
    }
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
    
    md-block {
        font-family: Century Gothic; 
        font-style: normal;
        line-height: 50px;
    }
}

@media only screen and (max-width: 1150px) {
    .flex-container{
        display: flex;
        font-size: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .subcontainer{
        display: flex;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120vw;
        margin-left: -20vw;
        flex-wrap: wrap;
    }
    
    .subcontainersmall{
        display: flex;
        font-size: 20px;
        margin: 2vw;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 60vw;
        margin-left: -20vw;
        flex-wrap: wrap;
    }
    
    .textelement{
        font-size: 21px;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        margin: 0.1vw;
        width: 55%;
    }
    .photoelement{
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        width: 50%;
        margin: 0.1vw;
    }
    .link{
        margin-top: 40px;
        transition: 0.3s;
        color: rgb(255, 255, 255);
    }
    .link:hover{
        opacity: 0.4;
    }
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
    
    md-block {
        font-family: Century Gothic; 
        font-style: normal;
        line-height: 50px;
    }
}