/* Clear floats after the columns */
.text{
  font-size: 2.5vh;
}
.pimg{
  height: 30vh;
  margin: 0.5vh;
  width: auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.link{
  margin-top: 40px;
  transition: 0.3s;
  list-style-type: none;
  color: rgb(255, 255, 255);
}
.link:hover{
  opacity: 0.4;
}
@media only screen and (min-width: 1151px) {
  .column {
    float: left;
    width: 50%;
  }
  .size {
    color: transparent;
  }
}
@media only screen and (max-width: 1150px) {
  .column {
    float: left;
    text-align: center;
  }
  .size{
    margin: 20px;
    color: transparent;
  }
}