{% extends 'index.html' %}

{% block body %}
<link rel="stylesheet" href="static/projects.css">
<div class="subpage" style="margin-top: -150px !important; margin-right: 100px;">
    <div class="flex-container">
        <li class="link">
        <a target="_blank" href="https://www.upcprogram.space/grass">
            <div>
            <img class="pimg" src="static/assets/GRASS.jpg" width="350">
            </div>
            <span class="text" style="text-align: center;">
                GRASS
            </span>
        </a>
        </li>
        <li class="link">
        <a target="_blank" href="https://www.instructables.com/Foot-Piano/">
            <div>
                <img class="pimg" src="static/assets/piano2.png" width="200">
            </div>
            <span class="text" style="text-align: center;">
                Piano EDW 2022
            </span>
        </a>
    </li>
        <li class="link">
        <a target="_blank" href="https://www.instructables.com/Shaking-Hands-Overseas/">
        <div>
        <img class="pimg" src="static/assets/sho.png" width="400">
        </div>
        <span class="text" style="text-align: center;">
            Shaking Hands Overseas EDW 2021
        </span>
        </a>
    </li>
    <li class="link">
        <a target="_blank" href="https://www.instructables.com/Paper-Airplane-Launcher-3/">
            <div>
            <img class="pimg" src="static/assets/airplane.jpg" width="300">
            </div>
            <span class="text" style="text-align: center;">
                Paper Airplane Launcher
            </span>
        </a>
    </li>
            <!-- <li class="link">
                <a target="_blank" href="https://www.upcprogram.space/grass">
                    <img class="pimg" src="static/assets/GRASS.jpg" width="350">
                    <span class="text" style="text-align: center;">
                        Paper Air Challenge
                    </span>
                </a>
            </li> -->
    <li class="link">
        <a target="_blank" href="https://github.com/Grapefruit-INC">
            <div>
                <img class="pimg" src="static/assets/kegel.png" width="300">
            </div>
            <span class="text" style="text-align: center;">
                Kegel
            </span>
        </a>
    </li>
        
    <li class="link">
        <a target="_blank" href="https://github.com/Newtoniano20">
            <div>
                <img class="pimg" src="static/assets/coding.png" width="300">
            </div>
            <span class="text" style="text-align: center;">
                Coding Projects
            </span>
        </a>
    </li>

    <li class="link">
        <a href="/mentored.html">
            <div>
            <img class="pimg" src="static/assets/Tech24.jpeg" width="200">
            </div>
            <span class="text" style="text-align: center;">
                Projects I have Mentored
            </span>
        </a>
    </li>
        <li class="link">
            <a target="_blank" href="https://github.com/TechProjects-BCN">
                <div>
                <img class="pimg" src="static/assets/TechProjects.jpeg" width="300">
                </div>
                <span class="text" style="text-align: center;">
                    TechProjects
                </span>
            </a>
        </li>
        <li class="link">
            <a target="_blank" href="https://www.instructables.com/member/Newtoniano/instructables/">
                <div>
                <img class="pimg" src="static/assets/other.jpg" width="200">
            </div>
                <span class="text" style="text-align: center;">
                    Other Projects
                </span>
            </a>
        </li>
    </div>
    </div>
    </div>
{% endblock %}