{% extends 'index.html' %}

{% block body %}
<link rel="stylesheet" href="static/renders.css">
<div class="subpage">
    <div class="container">
    <div class="row link" style="margin-top: -100px;">
    <a target="_blank" href="https://youtu.be/XLROUK0uK-c">
        <img src="static/assets/paralelo.jpg" width="450">
        <span style="text-align: center;">
            Paralelogramos Teaser
        </span>
    </a>
    </div>
    <div class="row link" style="margin-top: 100px;">
        <a target="_blank" href="https://youtu.be/POpNTBQw1mY">
            <img src="static/assets/Car.jpg" width="450">
            <span style="text-align: center;">
                Turbo Showcase Animation
            </span>
        </a>
        </div>
    </div>
    <div style="text-align: center; margin-top: 100px; margin-bottom: 100px;">
        My Renders
    </div>
    <table>
        <tr>
            <a target="_blank" class="link" href="https://github.com/Newtoniano20/Blender/tree/main/Hill%20Castle">
                <img src="static\Renders\trees.progress.png" width="550">
            </a>
            <a target="_blank" class="link" href="https://github.com/Newtoniano20/Blender/tree/main/Home">
                <img src="static\Renders\house.png" width="550">
            </a>
            <a target="_blank" class="link" href="https://github.com/Newtoniano20/Blender/tree/main/Blender%20Tutorial%20Series">
                <img src="static\Renders\donut.png" width="550">
            </a>
        </tr>
    </table>
    </div>
    </div>
{% endblock %}