{% extends 'index.html' %}

{% block body %}
<link rel="stylesheet" href="static/contact.css">
<div class="container" style="margin-top: -23vh;">
    <div class="row">
    <div class="subpage">
    <div class="margin-change" style="font-size: 45px;">
    Who Am I?
    </div>
    <div class="margin-change col-md-9" style="font-size: 20px; width: 70vw;">
        I'm a Junior in Aerospace Engineering from Spain who is interested in physics, computer science, aerodynamics and mathematics. 
        <br> I am studying aerospace engineering because I love bringing to life new inventions and combining electronics, physics and coding together to create something new and I am fascinated by rockets and airplanes. 
        <br> I am also working with MIT Edgerton Center as member of the Edvendtures Program and International Outreach to host engineering design workshops around the world and I've been part of the MIT Edgerton Center EDW during the summer of 2021 (Online), 2022 (as a Student) and 2024 (as a Mentor). 
        <br> I've been coding for 7 years now, with experience with Python, Arduino/C/C++, Docker, Ansible, NextJS, TailwindCSS and others. Furthermore, I have been designing and 3D printing for 3+ years and I've been part of multiple projects both working on them and as a Mentor.
    </div>
    <div class="margin-change" style="margin-top: 50px;font-size: 45px;">
    Contact Information
    </div>
    <div class="margin-change col-md-9" style="font-size: 20px;">
    Email: <a href = "mailto: joel.garcia1202@hotmail.com">joel.garcia1202@hotmail.com</a>
    <br>Discord: Newtoniano#1173
    </div>
</div>
</div>
</div>
{% endblock %}