{% extends 'index.html' %}

{% block body %}
<link rel="stylesheet" href="static/home.css">
<div class="subpage" style="margin-top: -5vh;">
    <div class="col-md-4">
    <div class="link">
        <a href="/projects.html">
            Projects
        </a>
        </div>
        <div class="link">
        <a href="/contact.html">
            Contact
        </a>
        </div>
        <div class="link">
            <a target="_blank" href="https://drive.google.com/drive/folders/1iIxqykF8BoyU-1dXKXqU7OilTzgklzXo?usp=sharing">
                Resume / <hr class="size">CV
            </a>
        </div>
    
        <div class="link">
            <a href="/timeline.html">Timeline</a>
        </div>

        <div class="link">
            <a href="/renders.html">Renders & Videos</a>
        </div>
    
        <div class="link">
            <a target="_blank" href="https://linktr.ee/joelgama">
                Other
            </a>
        </div>
    </div>
</div>
{% endblock %}