.link{
    margin-top: 5vh;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}
.link:hover{
    opacity: 0.4;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 1651px) {
    .margin-change{
        margin-left: -200px;
        font-size: 15px;
        padding-top: 30px; 
        text-align: left;
    }
}
  @media only screen and (max-width: 1650px) {
    .margin-change{
        margin-left: 0px;
        margin-right: 200px;
        font-size: 15px;
        padding-top: 30px; 
        text-align: left;
    }
}