.link{
    margin-top: 40px;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}
.link:hover{
    opacity: 0.4;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 10%;
}
li{
    height: inherit;
}