/* Clear floats after the columns */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.link{
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
.link:hover{
  opacity: 0.4;
}
@media only screen and (min-width: 1151px) {
  .column {
    float: left;
    width: 50%;
  }
  .size {
    color: transparent;
  }
}
@media only screen and (max-width: 1150px) {
  .column {
    float: left;
    text-align: center;
  }
  .size{
    margin: 20px;
    color: transparent;
  }
}